<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="1"> 
  <h1 id="logo" class="fs1" aria-hidden="true" data-icon="&#xe017;"></h1>
</div><!--End Slide 1-->
<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="1"></div><!--End Slide 2-->
<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="1"></div><!--End Slide 3-->
<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="1"></div>

<!--<div id="work">
  <h2>Proof is in the pudding</h2>
  <div class="work-item">
    <span class="title">HBO</span>
    <span class="brand">Game of Thrones</span>
  </div>
</div>
-->
<!-- <div id="header"> 
  <ul class="projects">
    <li ng-repeat="project in projects" class="thumbnail">
      <a href="#/work/{{project.id}}">{{project.id}}</a>
      <p>{{project.description}}</p>
    </li>
  </ul>
</div> -->